# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pycharm
.idea
.DS_Store

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject
